.mobile, span#menu,span#cats {display: none;}

@media only screen and (max-width: 850px) {
    .cap-portada img {border-radius: 6px;}
 #ifblike,.sinopsis-box h2 {
    display: none;
 }
 div#cats {
    padding: 0px 15px;
}
div#cats strong {
    display: block;
}
div#cats a {background: #e84c3d;color: #fff;padding: 4px 5px;border-radius: 5px;font-size: 12px;margin: 1px 0px;display: inline-block;}
 .cap-portada {
    position: absolute;
}

span.info-title {
    width: auto;
}

span.info-value {
    margin-left: 5px;
}
 .mobile {display: block !important;}
 .pc {display: none;}
.sinopsis-box h3 {display:block;}
 .sinopsis-box h2 {
    display: none;
}
.info-content h2 {display: block;font-size: 14px;}
span#menu {display: block;position: absolute;right: 3px;top: 0;padding: 0px;cursor: pointer;}
#site-top #topnav #menu {
        margin-top: 21px;
        margin-right: 11px;
    }

    #site-top #topnav #menu i  {
        font-size: 27px;
        padding: 0;
    }

    #topnav .form_search2 {
        display: none;
    }


span#menu i {font-size: 41px;}

.letras-int .letras-box h3 {
padding: 13px 10px;
text-transform: uppercase;
}
.letras-int {position: fixed;top: 8px;height: 100%;background: transparent;z-index: 42;overflow: scroll;width: 300px;max-height: 100%;}

#letrasbg {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 41;
}

#letrasbg:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 300px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.67);
    z-index: 28;
}
.letras-int, #letrasbg {
display: none;
}

.letras-int {
        background: rgb(47, 56, 63);
    }

    .letras-int .letras-box h3 {
        background: none;
    }

    #container #letrasint .letras-box ul {
        background: #4e5e6b;
    }

    .letras-box, .type-list, .genre-list {
        background: none;
    }

    #letrasint .type-list h3, #letrasint .genre-list h3 {
        border-bottom: 1px solid #363f46;    
    }

    #letrasint .type-list ul li a, #letrasint .genre-list ul li a {
        border-bottom: 1px solid #293036;
    }

    #letrasint .type-list ul li a:hover, #letrasint .genre-list ul li a:hover {
        background: #34b1ee;
    }

    .serie-info .info-content h3 {
        font-size: 13px;
    }

.letras-box, .type-list, .genre-list {display: block !important;}
.prog-desc h2 {max-height: 29px;overflow: hidden;}

    form.form_search2 {
        width: 100%;
        height: auto;
        float: none;
        position: relative;
        padding: 12px;
    }

    .home-title dark-orange h3, .video-header h1 {text-overflow: ellipsis;width: 85%;white-space: nowrap;overflow: hidden;}

    .home-title dark-orange h3 {width: 54%};
    
    .site-logo, #topnav, .top-banner {
        float: none;
        width: 100%;

    }
    .site-logo {text-align: center;display: block;}
    #site-header {
        height: auto;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        align-items: center;
        padding: 15px 12px;
    }
    .right-top-search,ul.menu-links {display: none;}
    .video-info {
        position: relative;
        min-height: 170px;
    }
    #topnav {width: 100%;display: inline-block;text-align: center;}
    .top-banner {
        width: 30%;
        float: right;
        height: auto;
        margin: 0;
    }
    .video-info .video-portada {
        position: absolute;
    }
    .dwnload-form select {
        display: none;
    }
    center img {
    width: 100%;
}
    .portada-box {overflow: hidden;}
    /** home page **/
    #page {
        width: 100%;
    }
    #site-top #topnav .top-links {
        margin-left: 0;
        margin-right: 0;
        float: none;
        display: inline-block;
        width: 100%;
    }

    #site-top #topnav .top-links {
        margin: 0;
    }

    #site-top #topnav .top-links li {
    width: 95%;
    margin-left: 2%;
    }
    #site-top #topnav .top-links li iframe {
    height: 45px !important;
    }
    form.form_search2 input {
        width: 100%;
        height: auto;
        float: none;
        position: relative;
        background: #475663;
        color: white;
        padding: 15px;
    }

    form.form_search2 input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgb(230, 241, 248);
    }
    form.form_search2 input::-moz-placeholder { /* Firefox 19+ */
        color: rgb(230, 241, 248);
    }
    form.form_search2 input:-ms-input-placeholder { /* IE 10+ */
        color: rgb(230, 241, 248);
    }
    form.form_search2 input:-moz-placeholder { /* Firefox 18- */
        color: rgb(230, 241, 248);
    }
    .form_search2 button {
        position: absolute;
        right: 19px;
        color: #9dabb5;
    }
    #site-header .site-logo {
        width: 149px;
        display: inline-block;
        position: relative;
        text-align: center;
        padding: 0;
        margin: 0;
        height: auto;
    }

    #site-header .site-logo img {
        max-width: 100%;
    }

    #container #letrasint .letras-box ul {
        height: auto;
    }

    #container #letrasint .letras-box ul li.box-link {
        float: right;
        display: none;
    }

    #container #letrasint .genre-list ul li {
        width: 47%;
    }

    #featured-content {
        width: 95%;
    }

    #featured-content .left-home {
        width: 100%;
        float: none;
    }

    #featured-content .left-home .slider-box .nivoSlider {
        height: auto !important;
    }

    #featured-content .ovas-home .ov-content {
        width: 33%;
    }

    #programacion {
        width: 100%;
    }

    #slider3 .viewport {
        width: 100%;
        overflow: hidden;
        height: auto;
        max-height: 6000px;
    }

    #slider3 .viewport .overview {
        max-height: 6000px;
    }

    #programacion .overview a.odd, #programacion .overview a.even {
        width: 90%;
    }

    #programacion .overview .prog-thumb {
        width: 30%;
    }
    #programacion .overview .prog-desc {
    width: 60%;
    max-width: unset;
    }
    #programacion .overview .prof-desc .ep-time {
    display: none;
    }

    #container #general-navs {
        display: none;
    }

    #content {
        width: 95%;
    }

    #content #left-content {
        width: 100%;
    }

    #content #left-content .content-box .portada-box{
        width: 28.9%;
        height: 200px;
    }

    #content #sidebar {
        width: 100%;
        float: none;
    }

    #content #sidebar .side-box {
        width: 100%;
        display: none;
    }

    #page #site-end {
        width: 100%;
    }

    #page #site-end .footer-links {
        width: 98%;
    }

    #page #site-end .footer-links a {
        width: 47%;
    }
    /** home page **/

    /** **/

    /** letras y generos **/
    #content .left-container {
        width: 100%;
    }

    #content .left-container .content-box .let-post{
        width: 100%;
        padding: 0 1% 0 65px;
    }
    #content #sidebar-2 {
        width: 100%;
        float: none;
    }
    /** letras y generos **/

    /** **/

    /** info anime **/
    #container .serie-info .info-box {
        width: auto;
        border-right: 0;
        position: relative;
    }
    #container .serie-info .info-box .info-content {
        width: 100%;
        padding-left: 150px;
        height: 222px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #container .serie-info .sinopsis-box {
        width: 92%;
    }
    #container .serie-info .sinopsis-box > p {
        width: 98%;
        text-align: justify;
    }

    #content .left-container .content-box #episodes-content {
        padding: 0 .5rem;
    }
    
    #content .left-container .content-box #episodes-content {
    width: 100%;
    }

    #content .left-container .content-box .navigation a.numbers {
        margin-top: 1rem;
    }    
    /** info anime **/

    /** **/

    /** video anime **/
    #container #reproductor-box {
        width: 100%;
    }

    #container #reproductor-box .tab_containerx .tab_container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #container #reproductor-box .tab_containerx .tab_container div iframe {
        width: 100% !important;
    }

    #container #reproductor-box .tab_containerx ul.server-tab {
        height: auto;
    }

    #content .left-container22 {
        width: 100%;
    }
    #content .left-container22 .video-info .vidinfo {
        width: 100%;
        padding: 0px 10px 0px 95px;
    }
    #content .left-container22 .video-info .vidinfo p{
        text-align: justify;
        width: 95%;
    }

    /** video anime **/

}
@media only screen and (max-width: 650px) {
.vnav-left >  span.h  {
        display: none !important;
    }
    .vnav-right > span.h {
        display: none !important;
    }
    .cap-post {
    width: 21%;
    height: 100px;

}
    #content #left-content .content-box .portada-box {
    width: 42%;
    height: 200px;
}
    .ovas-home {display: none;}
#featured-content .ovas-home .ov-content {
        width: 50%;
    }
}

@media only screen and (max-width: 450px) {
.video-info {
    font-size: 12px;
}
.video-info h2 {
    font-size: 17px;
}
.cap-post {
    width: 28%;
    height: 110px;

}
#container .serie-info .info-box .info-content {
    /* width: 220px; */
}
}

@media only screen and (max-width: 400px) {
.cap-post {
    height: 100px;

}
#container .serie-info .info-box .info-content {
    font-size: 11px;
    /* width: 210px; */
    margin-top: 15px;
    padding-left: 120px;
    height: 170px;
}
.cap-portada {position: relative;top: 32px;}
.cap-portada {width: 110px;height: 160px;position: absolute;top: 30px;}
.cap-portada img{min-height: 100%;position: relative;top: -15px;}
}

@media only screen and (max-width: 340px) {
    .video-info {
    font-size: 11px;
}
.cap-post {
    width: 44%;
    height: 110px;

}
}
    font-size: 11px;
}
.cap-post {
    width: 44%;
    height: 110px;

}
}
height: 160px;
}
.cap-portada img{
min-height: 100%;
}
}

@media only screen and (max-width: 340px) {
    .video-info {
    font-size: 11px;
}
.cap-post {
    width: 44%;
    height: 110px;

}
}
    font-size: 11px;
}
.cap-post {
    width: 44%;
    height: 110px;

}
}

}
}}
}ht: 100%;position: relative;top: -15px;}
}

@media only screen and (max-width: 340px) {
    .video-info {
    font-size: 11px;
}
.cap-post {
    width: 44%;
    height: 110px;

}
}
    font-size: 11px;
}
.cap-post {
    width: 44%;
    height: 110px;

}
}
height: 160px;
}
.cap-portada img{
min-height: 100%;
}
}

@media only screen and (max-width: 340px) {
    .video-info {
    font-size: 11px;
}
.cap-post {
    width: 44%;
    height: 110px;

}
}
    font-size: 11px;
}
.cap-post {
    width: 44%;
    height: 110px;

}
}

}
}}
}}
}

}
}}
}